streamlit
python-dotenv
PyMuPDF
Pillow
streamlit-extras
langchain
openai
faiss-cpu
scikit-learn
reportlab
streamlit
python-dotenv
PyMuPDF
Pillow
streamlit-extras
langchain
openai
faiss-cpu
scikit-learn
reportlab